* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.dashboardVoyage {
  display: flex;
  margin: auto 5%;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* .cardVoyage {
} */

a{text-decoration: none;
color: white;}

nav{
  background-color: #051474;
}
.lienNav a:hover{
  color : #EFB85B;
  transition: 1s;
}
