* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.dashboardVoyage {
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
}
.cardVoyage {
  border: 2px solid black;
  text-align: center;
  padding: 1% 2%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 25px;
}
